body {
  margin: 20px;
}

/*Card*/
.card {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin: auto;
  text-align: center;
  color: #2b2839;
  background-color: #ddebf8;
  border-bottom: 8px solid #d8cefe;
}

/*Image*/

.card-img {
  width: 250px;
}

/* Utility class*/

.dotted-blue {
  border: 2px dotted rgb(55, 55, 128);
}
